@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Poppins', sans-serif;
}
body{
    background-color: #081b29;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body{
    background: #081b29;
    color: #ededed;
}

.logo {
    font-size: 25px ;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home {
    height: 100vh ;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px ;
    
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover {
    color: #6a0e5e;
}
.btn-box a:nth-child(2)::before {
    background-color: #140843;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170;
    display: flex;
    justify-content: space-between;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6a0e5e ;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.projects {
    background: #081b29;
    padding: 40px 20px;
    margin: 20px 0;
}

.projects h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #eeebeb;
}

.project {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.project img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.project-details {
    max-width: 600px;
}

.project-details h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #444;
}

.project-details a {
    display: inline-block;
    margin: 10px 0;
    color: #0066cc;
    text-decoration: none;
}

.project-details a:hover {
    text-decoration: underline;
}

.project-details p {
    margin: 5px 0 0;
    line-height: 1.6;
    color: #555;
}
.about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.about-content h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 24px;
    margin-top: 30px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-content p b {
    font-weight: bold;
}

.about-content p em {
    font-style: italic;
}

.about-content p br {
    display: block;
    margin: 10px 0;
}

.skills {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #081b29
}

.skills h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.skills p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.skills p b {
    font-weight: bold;
}

.skills p em {
    font-style: italic;
}

.skills i {
    margin-left: 10px;
    font-size: 24px;
    vertical-align: middle;
}
